pipeline/3-pl_silver_taxi_zone_sp_parm.json
{
	"name": "3-pl_silver_taxi_zone_sp_parm",
	"properties": {
		"activities": [
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_silver_taxi_zone_parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_folder_path": {
								"value": "@variables('v_folderPath')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('v_sp_name')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_synapsesqlserverlesspool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_folderPath": {
				"type": "String",
				"defaultValue": "silver/taxi_zone"
			},
			"v_sp_name": {
				"type": "String",
				"defaultValue": "usp_silver_taxi_zone"
			}
		},
		"annotations": []
	}
}